/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

// DAT GUI
.dg.ac {
	z-index: 10 !important;
}

$header-height: 7rem;
$home-h-padding: 5vw;
$home-module-v-padding: 5rem;
$home-divider-color: lighten($border-color, 5%);
$home-text-link-color: #1E88E5;

%home-content-wrapper {
	max-width: 1100px;
	padding: $home-module-v-padding $home-h-padding;
	margin-left: auto;
	margin-right: auto;
}

%home-label {
	@extend %header;
	margin-bottom: 3rem;
	text-align: center;
}

%home-description {
	@extend %body-font;
	font-size: 1.3rem;
}

.home {
	text-align: left;
	padding-top: $header-height;
}

.header {
	top: 0;
	width: 100vw;
	background: white;
	position: fixed;
	z-index: 2;
	height: $header-height;
	padding: 0 4rem;
	@extend %material-design-shadow;
	.title, .authentication-ctas, .signup, .login {
		display: inline-block;
	}
	.title, .signup, .login {
		@extend %header;
	}
	.authentication-ctas {
		float: right;
		height: $header-height;
		.signup, .login {
			cursor: pointer;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
		.login {
			margin-left: 2rem;
		}
	}
	.title {
		display: inline-block;
		position: relative;
		@extend %header;
		line-height: $header-height;
		&:before {
			top: calc(50% - 2px);
			transform: translateY(-50%);
			content: "";
			width: 1.3rem;
			height: 1.3rem;
			background-image: url('../assets/images/logo.png');
			background-repeat: no-repeat;
			background-size: 100%;
			position: absolute;
			right: calc(100% + .8rem);
		}
	}
}

.video-player {
	display: inline-block;
	&[data-video-showing="true"] {
		z-index: 2;
		.iframe-wrapper {
			display: block;
			top: 50vh;
			left: 50vw;
			transform: translate3d(-50%, -50%, 0);
			z-index: 1;
		}
		.blackout {
			display: block;
			z-index: 1;
			pointer-events: auto;
		}
	}
	.blackout {
		display: none;
		pointer-events: none;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background: rgba(black, .8);
	}
	.iframe-wrapper {
		position: fixed;
		display: none;
		.fixed-aspect-ratio-wrapper {
			width: 60vw;
			padding-top: 75%;
			position: relative;
			iframe {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.close {
			position: absolute;
			bottom: calc(100% - 1rem);
			left: calc(100% - 1rem);
			background: white;
			@extend %material-design-shadow;
			border-radius: 50%;
			width: 2.5rem;
			height: 2.5rem;
			text-align: center;
			z-index: 1;
			i {
				font-size: 1.4rem;
				line-height: 2.5rem;
			}
		}
	}
	.close {
		cursor: pointer;
	}
}

.hero {
	border-bottom: solid 1px $home-divider-color;
	position: relative;
	.hero-content {
		@extend %home-content-wrapper;
		padding: 7rem $home-h-padding;		
		.text, .browser {
			display: inline-block;
			vertical-align: middle;
		}
		.text {
			width: 60%;
			padding-right: 3rem;
		}
		.browser {
			width: 40%;
			margin-left: -3px;
		}
	}
	h1 {
		margin: 0;
		font-size: 3rem;
		color: $highlight-text-color;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 2rem;
	}
	.description {
		@extend %body-font;
		font-size: 1.3rem;
		max-width: 45vw;
	}
	.ctas {
		margin-top: 3rem;
	}
	.viewdemo, .enter {
		cursor: pointer;
		font-weight: 500;
		font-size: 1.2rem;
		margin-right: 1rem;
		border: solid 1px darken($border-color, 5%);
		border-radius: 40px;
		padding: 1rem 2rem;
		display: inline-block;
		text-transform: uppercase;
	}
	.browser {
		border-radius: 2px 2px 0 0;
		padding-top: 1.5rem;
		background: lighten($smoke, 2%);
		position: relative;
		.controls {
			top: 0;
			position: absolute;
			bottom: 100%;
			height: 1.5rem;
			.red, .yellow, .green {
				border-radius: 5px;
				position: absolute;
				top: calc(50% + 1px);
				transform: translateY(-50%);
				width: 7px;
				height: 7px;
			}
			.red {
				left: .5rem;
				background: $cerise-red;
			}
			.yellow {
				left: 1.75rem;
				background: yellow;
			}
			.green {
				left: 3rem;
				background: $fruit-salad;
			}
		}
		.ui {
			position: relative;
		}
		.image-container {
			width: 100%;
			border: solid 1px lighten($smoke, 2%);
			padding-top: 55.4%; // 554/1000
			background-image: url('../assets/images/ui.png');
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}
}

.info {
	border-bottom: solid 1px $border-color;
	.info-content {
		@extend %home-content-wrapper;
	}
	a {
		color: $home-text-link-color;
	}
	.info-label {
		@extend %home-label
	}
	.description {
		@extend %home-description;
		column-count: 2;
		column-gap: 4rem;
	}
}

.timeline3D {
	height: 50rem;
}

.timeline {
	background: $smoke;
	height: 50rem;
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
		pointer-events: none;
		display: block;
		z-index: 1;
	}
}

.media {
	margin: 0;
	border-bottom: solid 1px $border-color;
	.media-content {
		@extend %home-content-wrapper;
	}
	.media-label {
		@extend %header;
		text-align: center;
	}
	.card-list {
		margin-top: 3rem;
		overflow: hidden;
		&[data-expanded="true"] {
			
		}
		&[data-expanded="false"] {
			max-height: 52rem;
		}
	}
	.toggle {
		text-align: center;
		@extend %header;
		color: $home-text-link-color;
		cursor: pointer;
		margin-top: 2rem;
	}
	.card {
		transition: all $transition-duration;
		display: block;
		border: solid 1px darken($border-color, 5%);
		border-radius: 4px;
		padding: 2rem;
		text-decoration: none !important;
		&:hover {
			border-color: darken($border-color, 25%);
		}
		&:not(:last-of-type) {
			margin-bottom: 2rem;
		}
		.attribution {
			color: $text-color;
		}
		.title {
			font-weight: 500;
			font-size: 1.3rem;
			color: $home-text-link-color;
		}
		.publication {
			color: $highlight-text-color;
			margin-bottom: 1rem;
		}
		.date, .author {
			font-size: 1.1rem;
			display: inline-block;
		}
		.author {
			&:not(:empty):before {
				content: "·";
				display: inline-block;
				margin-left: .5rem;
				margin-right: .5rem;
			}
		}
	}
}

.entry-links {
	.entry-links-label {
		@extend %home-label;
	}
	.entry-links-content {
		@extend %home-content-wrapper;
	}
	.description {
		text-align: center;
		@extend %home-description;
	}
}

.timeline {
	position: relative;
	overflow: hidden;
	.date-picker {
		position: absolute;
		top: 1rem;
		left: 1rem;
		bottom: 1rem;
		width: 10rem;
		@extend %material-design-shadow;
		background: white;
		border-radius: 2px;
		z-index: 1;
	}
	&[data-event-activated="false"] {
		.document-browser {
			display: none;
		}
	}
	.document-browser {
		overflow: scroll;
		position: absolute;
		top: 0;
		bottom: 0;
		background: white;
		&[data-loading="true"] {
			.loader {
				display: block;
			}
		}
		.loader {
			display: none;
		}
	}
	.event {
		transition: transform $transition-duration;
		position: absolute;
		padding: .5rem 3rem 0 2rem;
		.see-more, .explore, .close {
			cursor: pointer;
			opacity: 0;
			transition: all $transition-duration;
			margin-right: .8rem;
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 50%;
			border: solid 1px darken($border-color, 15%);
			text-align: center;
			display: inline-block;
			i {
				line-height: 2.35rem;
				font-size: 1.3rem;
				color: $highlight-text-color;
			}
			&:hover {
				background: darken($border-color, 5%);
			}
		}
		&:hover {
			.see-more, .explore, .close {
				opacity: 1;
			}
			polyline {
				fill: $amaranth;
			}
			.sample_tweet .text {
				color: $highlight-text-color;
			}
			.sample_tweet a {
				color: darken($downy, 10%);
			}
		}
		&:not([data-active="true"]) {
			.close {
				display: none;
			}
		}
		&[data-active="true"] {
			.see-more {
				display: none;
			}
		}
		.date {
			position: absolute;
			bottom: calc(100% + .5rem);
			left: 0;
			transform: translateX(-50%);
			text-transform: uppercase;
			font-size: .8rem;
			font-weight: 500;
			letter-spacing: 1px;
			color: darken($subdued-text-color, 10%);
		}
		.words {
			.word {
				font-weight: 100;
				display: inline-block;
				font-size: 1.2rem;
				margin-right: 1rem;
				font-weight: 300;
				&:not([data-count="1"]) {
					font-weight: 500;
				}
				&[data-count="1"] {
					.count {
						display: none;
					}
				}
				.text, .count {
					display: inline-block;
				}
				.count {
					margin-left: .35rem;
					font-size: .9rem;
					font-weight: 100;
				}
			}
			margin-bottom: 2rem;
		}
		.sample_tweet {
			margin-bottom: 1.5rem;
			.text {
				font-size: 1.2rem;
			}
			a {
				display: inline-block;
				color: $downy;
				text-decoration: none;
			}
			.attribution {
				white-space: nowrap;
				text-overflow: ellipsis;
				width: 100%;
				margin-bottom: .3rem;
				.timestamp, .author {
					display: inline-block;
					text-transform: uppercase;
					font-weight: 500;
					color: darken($subdued-text-color, 10%);
					letter-spacing: 1px;
					font-size: .8rem;
				}
				.timestamp {
					margin-right: 1.5rem;
					position: relative;
					&:after {
						content: "";
						width: 2px;
						height: 2px;
						border-radius: 50%;
						background: currentColor;
						display: block;
						position: absolute;
						left: calc(100% + .5rem);
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}
		svg {
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
			overflow: visible;
			z-index: -1;
			polyline {
				fill: $tower_gray;
				fill-opacity: .2;
				transition: fill $transition-duration;
			}
		}
	}
	.events {
		position: relative;
		width: 100%;
		height: 100%;
		transition: all $transition-duration / 2;
		&.scrolling {
			transition: none;
		}
	}
	.date-picker {
		overflow: hidden;
		.global, .local {
			vertical-align: top;
			display: inline-block;
			width: 50%;
			height: 100%;
		}
		.global {
			border-right: solid 1px $border-color;
		}
		.local {
			transition: all $transition-duration / 2;
			margin-left: -3px;
			&.scrolling {
				transition: none;
			}
		}
		.brush {
			position: absolute;
			width: 1rem;
			background: red;
			right: 51%;
			top: 0;
			transition: top $transition-duration / 2;
			&.scrolling {
				transition: none;
			}
		}
	}
}

@mixin logo($width, $ar) {
	width: $width;
	height: $ar * $width;
}

.partnerships {
	$partnerships-count: 7;
	$logo-size: 20rem;
	border-bottom: solid 1px $home-divider-color;
	padding: $home-module-v-padding $home-h-padding;
	padding-bottom: $home-module-v-padding + 1rem;
	overflow: hidden;
	.partnerships-label {
		@extend %header;
		text-align: center;
	}
	.logos {
		margin-top: 4.5rem;
		text-align: center;
		width: $logo-size * 4;
		margin-left: auto;
		margin-right: auto;
	}
	.logo-wrapper {
		cursor: pointer;
		display: block;
		float: left;
		width: 20rem;
		height: 20rem;
		border: solid 1px $border-color;
		margin-top: -1px;
		margin-left: -1px;
		transition: all $transition-duration;
		&:hover {
			background: lighten($smoke, 5%);
		}
	}
	.logo {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		background-size: 100%;
		background-repeat: no-repeat;
	}
	#media-lab-logo {
		background-image: url('../assets/images/logo_media_lab.png');
		@include logo(100px, 482 / 895);
	}
	#twitter-logo {
		background-image: url('../assets/images/logo_twitter.png');
		@include logo(55px, 364 / 446);
	}
	#commission-on-presidential-debates-logo {
		background-image: url('../assets/images/logo_cpd.png');
		@include logo(125px, 234 / 500);
	}
	#washington-post-logo {
		background-image: url('../assets/images/logo_wapo.png');
		@include logo(150px, 197 / 1280);
	}
	#wsj-logo {
		background-image: url('../assets/images/logo_wsj.png');
		@include logo(150px, 170 / 1985);
	}
	#fusion-logo {
		background-image: url('../assets/images/logo_fusion.png');
		@include logo(50px, 400 / 325);
	}
	#roper-center-logo {
		background-image: url('../assets/images/logo_roper_center.png');
		@include logo(110px, 166 / 635);
	}
	#newseum-logo {
		background-image: url('../assets/images/logo_newseum.png');
		@include logo(100px, 337 / 1207);
	}
}

.footer {
	.footer-content {
		@extend %home-content-wrapper;
	}
}