/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

.home {
	text-align: left;
}

.header {
}

.title {
	display: inline-block;
	position: relative;
	@extend %header;
	&:before {
		content: "";
		width: 1.3rem;
		height: 1.3rem;
		background-image: url('../assets/images/logo.png');
		background-repeat: no-repeat;
		background-size: 100%;
		position: absolute;
		right: calc(100% + 1rem);
	}
}