@import './variables';
@import './fonts';
@import './mixins';

:global {
  @import 'base';
  @import '~normalize.css/normalize';

  %body-font {
    font-family: Merriweather;
    color: lighten($text-color, 15%);
  }

  %header-font {
    font-family: Gotham;
    color: $text-color;
    line-height: 1.8;
  }

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    @extend %header-font;
    font-size: 10px;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  a {
    cursor: pointer;
  }
}
